<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->

     <!-- MY MAIN CSS -->
    {% load static %}
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel='stylesheet' href="/static/css/bootstrap.css">



    <title>Find It</title>
  </head>
  <body class="text-center">


  <div class="container">
    <div style="top: 20px;position: fixed;right: 0px;">
      <h2>Weather App</h2>
    </div>
    <div class="row">

      <div class="col-sm">

      </div>
      <div class="col-sm midb">

        {% if dt == 'already' %}
          <!-- <h2>Weather App</h2> -->

          <form class="form-signin" action="/getcity" method="POST">
            {% csrf_token %}
            <h1 class="h3 mb-3 font-weight-normal"></h1>

            <div class="input-group" style="top: 130px;">
              <input type="text" name="location" class="form-control text-center" placeholder="Enter City Name" required>
              <div class="input-group">
                <button class="btn btn-outline-secondary" type="submit">Check</button>
            </div>
            <div class="col-lg-12" style="right:300px;top: 20px;">
                <h5 style="top: 30px;">Weather Result Already In Database</h5>
                <span style="right:20px">
                    <p class="cit"> Country : {{ country }}</p>
                    <p class="cit"> City : {{ city }}</p>
                    <p class="cit"> Temp : {{ temprature }}</p>
                    <p class="cit"> Min Temprature : {{min_temp}}</p>
                    <p class="cit"> Max Temprature : {{max_temp}}</p>
                    <p class="cit"> Windspeed : {{wind_speed}}</p>
                    <p class="cit"> Humidity : {{humidity}}</p>
                    
                    <h5>Last Update {{date}} Ago</h5>

                    <span style="position: relative;left: 500px;bottom: 400px;">
                        <h5>Recent Searches</h5>
                        {% for k in list %}
                            <p class="cit">{{k.city}} </p>
                        {% endfor %}    
                    </span>


                </span>
              </div>
            </div>

          </form>

        {% else %}

          <form class="form-signin" action="/getcity" method="POST">
            {% csrf_token %}
            <h1 class="h3 mb-3 font-weight-normal"></h1>

            <div class="input-group" style="top: 80px;">
              <input type="text" name="location" class="form-control text-center" placeholder="Enter City Name" required>
              <div class="input-group">
                <button class="btn btn-outline-secondary" type="submit">Check</button>
            </div>
            <div class="col-lg-12" style="right:300px;top: 20px;">
                <h5 style="top: 30px;">Weather Result</h5>
                <span style="right:20px">
                    <p class="cit"> Country : {{ country }}</p>
                    <p class="cit"> City : {{ city }}</p>
                    <p class="cit"> Temp : {{ temprature }}</p>
                    <p class="cit"> Min Temprature : {{min_temp}}</p>
                    <p class="cit"> Max Temprature : {{max_temp}}</p>
                    <p class="cit"> Windspeed : {{wind_speed}}</p>
                    <p class="cit"> Humidity : {{humidity}}</p>
                    
                    <!-- <h5>Last Update {{date}} Ago</h5> -->

                    <span style="position: relative;left: 500px;bottom: 350px;">
                        <h5>Recent Searches</h5>
                        {% for k in list %}
                            <p class="cit">{{k.city}} </p>
                        {% endfor %}    
                    </span>


                </span>
              </div>
            </div>

          </form>




        {% endif %}

      </div>
      <div class="col-sm">

      </div>
    </div>
</div>
  </body>
</html>